<div class="row">
  <div class="col-12 col-lg-4">
    <div class="form-group">
      <label>Foo</label>
      <input type="text" class="form-control" value="Foo"/>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="form-group">
      <label>Baz</label>
      <input type="text" class="form-control" value="Bar" disabled />
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="form-group">
      <label>Baz</label>
      <input type="text" class="form-control" value="Baz" readonly/>
    </div>
  </div>
</div>
